

{% extends './base.html' %}

{% block title %}Fauna{% endblock %}
{% block body %}
<div class="container transparente" id="Fauna.html"> 
  <section id="boyaca">
      <h2>Boyacá</h2>
      <p>Boyacá alberga una gran diversidad de fauna, desde mamíferos andinos hasta aves exóticas. Algunos de los animales más representativos de la región incluyen:</p>
      <ul>
          <li>Oso de anteojos (Tremarctos ornatus)</li>
          <li>Cóndor de los Andes (Vultur gryphus)</li>
          <li>Puma (Puma concolor)</li>
          <li>Venado de cola blanca (Odocoileus virginianus)</li>
          <li>Rana de cristal (Centrolenidae)</li>
      </ul>
  </section>

  <section id="cundinamarca">
      <h2>Cundinamarca</h2>
      <p>Cundinamarca, por su parte, presenta una fauna igualmente rica y variada, con especies adaptadas a diferentes ecosistemas, desde los páramos hasta los valles. Entre los animales más destacados se encuentran:</p>
      <ul>
          <li>Lobo andino (Lycalopex culpaeus)</li>
          <div class="">
            <p><img class="img-fluid img-thumbnail dibujo" src="../imagenes/lobo andino.jpeg" alt=""></p>
          </div>
         
          <li>Águila real (Aquila chrysaetos)</li>
          <li>Tigrillo (Leopardus tigrinus)</li>
          <li>Armadillo de nueve bandas (Dasypus novemcinctus)</li>
          <li>Rana venenosa (Dendrobatidae)</li>
      </ul>
  </section>
{% endblock %}
