{% extends './base.html' %}

{% block title %}Index{% endblock %}
{% block body %}
<main >
  <section id="introduccion">
    <div class="container" id="Introducción"> 
      <p class="text">
      Colombia es un país en el que actualmente se puede evidenciar 
      una alta riqueza en biodiversidad de especies como plantas, 
      animales, hongos y microorganismos que son relevantes en cuanto 
      a su variabilidad genética en sus ecosistemas.Su gran 
      posicionamiento geográfico le permite gozar de   climas tropicales 
      que contribuyen en los procesos ecológicos y evolutivos de los ecosistemas.</p>       
 
      <p class="text">
      De sus 32 departamentos Boyacá y Cundinamarca son regiones que contribuyen ampliamente en 
      ecosistemas que van desde ecosistemas acuáticos como paisajes conformados por relieves bajos y 
      planos hasta montañosos, cuenta con un alto porcentaje de paramos con el del Sumapaz y el páramo 
      del Pisba esto hace de la región cundiboyacense un sector potencial para el turismo y el estudio 
      biológico por parte de entidades dedicadas a la investigación.</P>
     
      <P class="text">
      Este espacio te invitamos a conocer un poco más de las maravillas con las que cuenta nuestro territorio 
      ya que como seres vivos formamos parte de este ecosistema y dependemos de él, con ello enriquecemos nuestros
      conocimientos con el fin de aportar a su conservación, protección y recuperación.</p>
      

     
</main>
{% endblock %}
